.main-header
  text-align: center;
  font-family: "Museo";
  font-size: 40px;
  text-transform: uppercase;
  color: rgba(#0f0,.7);
  text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #F25500, 0 0 7px #F25500, 0 0 8px #F25500, 0 0 10px #F25500, 0 0 15px #F25500;

body
  text-align: center;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  line-height: 1.5;
  font-family: -apple-system, sans-serif
  background-size: 420px;


  &.big [data-route='/'] #answers >
    #positive, #negative
      width 100%
      max-width 700px
      margin 0 auto
      display block
      .letter
        display none
      .back
        display inline-block

  #viewport
    width 500px
    height 500px
  .trix-container
    max-width: 640px;
    margin: 0 auto;
    text-align left;
    #deartrump
      min-height: 35em;
      padding 0.4em 0.6em

  #popups
    > .submit
      color white;
      .navigation
        .option
          margin 0 10px
          > span
            position relative
            top -3px
            left 5px
  #map
    height 300px
    max-width: 800px;
    margin: 0 auto;
  #voice
    margin: 5px;

  #navigation
    font-size: 21px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    img
      width: 25px;
      height: 25px;
      border-radius: 25px;
      vertical-align: middle
    > a, > div
      color #928b6e
      display inline-block
      &:hover
        color #545044
  #answers
    white-space nowrap
    > div
      width: 50%;
      display: inline-block;
      white-space: pre-wrap;
      text-align: left;
      vertical-align: top;
      max-width: 400px;

      .response
        padding 16px
        margin-bottom 5px
        background rgba(255,255,255, .9)
        position relative
        &.positive
          box-shadow 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2), inset 0 0 2px green
          .user-header
            border-bottom 1px solid rgba(green,.2)
        &.negative
          box-shadow 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2), inset 0 0 2px red
          .user-header
            border-bottom 1px solid rgba(red,.2)

        .user-header
          padding 10px 0px
          > img
            border-radius: 49.9%;
            width 48px
            height 48px
            background-clip: content-box;
            box-sizing: border-box;
            vertical-align bottom
          > .user
            display inline-block
            margin-left 10px
            > .name:hover
              color #0084bf
              text-decoration underline
              cursor pointer
            > .time
              font-weight 300
        .back
          display none
        .link
          position: absolute;
          right: 10px;
          top: 10px;
          opacity: .3
          cursor pointer
          &:hover
            opacity 1.0
        .edit
          right 30px
        .body
          padding 10px 0px
        .footer
          font-size: 9px;
          opacity: .5;

