.main-header {
  text-align: center;
  font-family: "Museo";
  font-size: 40px;
  text-transform: uppercase;
  color: rgba(0,255,0,0.7);
  text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #f25500, 0 0 7px #f25500, 0 0 8px #f25500, 0 0 10px #f25500, 0 0 15px #f25500;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  line-height: 1.5;
  font-family: -apple-system, sans-serif;
  background-size: 420px;
}
body.big [data-route='/'] #answers > #letters {
  column-count: 1;
}
body.big [data-route='/'] #answers > #letters > .response {
  width: 100%;
  max-width: 100%;
}
body.big [data-route='/'] #answers > #letters .letter {
  display: none;
}
body.big [data-route='/'] #answers > #letters .back {
  display: inline-block;
}
body #viewport {
  width: 500px;
  height: 500px;
}
body .trix-container {
  max-width: 640px;
  margin: 0 auto;
  text-align: left;
}
body .trix-container #deartrump {
  min-height: 35em;
  padding: 0.4em 0.6em;
}
body #popups > .submit {
  color: #fff;
}
body #popups > .submit .navigation .option {
  margin: 0 10px;
}
body #popups > .submit .navigation .option > span {
  position: relative;
  top: -3px;
  left: 5px;
}
body #map {
  height: 300px;
  max-width: 800px;
  margin: 0 auto;
}
body #voice {
  margin: 5px;
}
body #navigation {
  font-size: 21px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
body #navigation img {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  vertical-align: middle;
}
body #navigation > a,
body #navigation > div {
  color: #928b6e;
  display: inline-block;
}
body #navigation > a:hover,
body #navigation > div:hover {
  color: #545044;
}
body #answers {
  white-space: nowrap;
}
body #answers > #letters {
  width: 100%;
  display: inline-block;
  white-space: pre-wrap;
  text-align: left;
  vertical-align: top;
  max-width: 800px;
  column-count: 2;
  column-gap: 10px;
}
body #answers > #letters .response {
  max-width: 400px;
  padding: 16px;
  background: rgba(255,255,255,0.9);
  position: relative;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 10px;
}
body #answers > #letters .response.positive {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 3px rgba(0,0,0,0.2), inset 0 0 2px #008000;
}
body #answers > #letters .response.positive .user-header {
  border-bottom: 1px solid rgba(0,128,0,0.2);
}
body #answers > #letters .response.negative {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 3px rgba(0,0,0,0.2), inset 0 0 2px #f00;
}
body #answers > #letters .response.negative .user-header {
  border-bottom: 1px solid rgba(255,0,0,0.2);
}
body #answers > #letters .response .user-header {
  padding: 10px 0px;
}
body #answers > #letters .response .user-header > img {
  border-radius: 49.9%;
  width: 48px;
  height: 48px;
  background-clip: content-box;
  box-sizing: border-box;
  vertical-align: bottom;
  object-fit: cover;
}
body #answers > #letters .response .user-header > .user {
  display: inline-block;
  margin-left: 10px;
}
body #answers > #letters .response .user-header > .user > .name:hover {
  color: #0084bf;
  text-decoration: underline;
  cursor: pointer;
}
body #answers > #letters .response .user-header > .user > .time {
  font-weight: 300;
}
body #answers > #letters .response .back {
  display: none;
}
body #answers > #letters .response .link {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.3;
  cursor: pointer;
}
body #answers > #letters .response .link:hover {
  opacity: 1;
}
body #answers > #letters .response .edit {
  right: 30px;
}
body #answers > #letters .response .body {
  padding: 10px 0px;
}
body #answers > #letters .response .footer {
  font-size: 9px;
  opacity: 0.5;
}
