.main-header
  text-align: center;
  font-family: "Museo";
  font-size: 40px;
  text-transform: uppercase;
  color: rgba(#0f0,.7);
  text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #F25500, 0 0 7px #F25500, 0 0 8px #F25500, 0 0 10px #F25500, 0 0 15px #F25500;

body
  text-align: center;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  line-height: 1.5;
  font-family: -apple-system, sans-serif
  #viewport
    width 500px
    height 500px
  .trix-container
    max-width: 640px;
    margin: 0 auto;
    text-align left;
    #deartrump
      min-height: 35em;
      padding 0.4em 0.6em

  #auth
    position fixed
    top 0
    right 0
    margin 10px
    img
      width: 25px;
      height: 25px;
      border-radius: 25px;
      vertical-align: middle
  #popups
    > .submit
      color white;
      .navigation
        .option
          margin 0 10px
          > span
            position relative
            top -3px
            left 5px
