.main-header {
  text-align: center;
  font-family: "Museo";
  font-size: 40px;
  text-transform: uppercase;
  color: rgba(0,255,0,0.7);
  text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #f25500, 0 0 7px #f25500, 0 0 8px #f25500, 0 0 10px #f25500, 0 0 15px #f25500;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  line-height: 1.5;
  font-family: -apple-system, sans-serif;
}
body .trix-container {
  max-width: 640px;
  margin: 0 auto;
  text-align: left;
}
body .trix-container #deartrump {
  min-height: 35em;
  padding: 0.4em 0.6em;
}
body #auth {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}
body #popups > .submit {
  color: #fff;
}
body #popups > .submit .fixed {
  height: 30px;
}
body #popups > .submit .navigation .option {
  margin: 0 10px;
}
body #popups > .submit .navigation .option > span {
  position: relative;
  top: -3px;
  left: 5px;
}
body #popups > .submit .login,
body #popups > .submit .signup,
body #popups > .submit .navigation {
  padding: 15px 0;
}
body #popups > .submit .login,
body #popups > .submit .signup {
  border-top: 2px solid #fff;
}
body #popups > .submit .login h3,
body #popups > .submit .signup h3 {
  margin: 0;
}
