.support {
  display: none;
  position: absolute;
  top: 0;
  font-size: 8px;
  right: 0;
  padding: 20px;
  color: #fff;
}
.support a {
  color: #fff;
}
@media screen and (min-width: 1100px) {
  .support {
    display: block;
  }
}
.main-header {
  text-align: center;
  font-family: "Museo";
  font-size: 40px;
  text-transform: uppercase;
  color: rgba(0,255,0,0.7);
  text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #f25500, 0 0 7px #f25500, 0 0 8px #f25500, 0 0 10px #f25500, 0 0 15px #f25500;
}
.material-icons {
  vertical-align: bottom;
}
.voting {
  position: absolute;
  background: #151515 url("../images/bkg.png") 0 0;
  border-radius: 21px;
  width: 40px;
  height: 40px;
  left: -20px;
  top: -20px;
}
.voting .vote {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  line-height: 40px;
  font-size: 11px;
}
.voting [data-arrow="down"] {
  -moz-border-radius: 0 0 30px 30px;
  -webkit-border-radius: 0 0 30px 30px;
  width: 30px;
  height: 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 5px solid #f00;
  cursor: pointer;
  position: relative;
  z-index: 2;
  opacity: 0.2;
  border-top: 0;
}
.voting [data-arrow="down"]:hover {
  opacity: 1;
}
.voting [data-arrow="up"] {
  -moz-border-radius: 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0;
  width: 30px;
  height: 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 5px solid #008000;
  cursor: pointer;
  position: relative;
  z-index: 2;
  opacity: 0.2;
  border-bottom: 0;
}
.voting [data-arrow="up"]:hover {
  opacity: 1;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
body .container [data-selected="true"] {
  color: #0f0;
}
body .container > .header > .times {
  display: flex;
  justify-content: center;
  max-width: 750px;
  margin: 0 auto;
  font-size: 12px;
  padding: 10px 0;
}
body .container > .header > .times > .time {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  background: #151515;
  padding: 5px;
}
body .container > .header > .times > .time[data-selected=true] {
  background: #2f2f2f;
}
body .container > .header > .nav {
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  padding: 10px;
  position: absolute;
  top: 0;
  padding: 22px;
}
body .container > .header > .nav > .nav-item {
  padding: 0 10px;
}
body .container > .header > .nav > .nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
body .container > .header > .subjects {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
}
body .container > .header > .subjects .subject {
  padding: 0 15px;
}
body .container > .header > .subjects .subject:hover {
  cursor: pointer;
  text-decoration: underline;
}
body .container .questions-container {
  margin: 0 auto;
}
body .container .questions-container .question {
  box-sizing: border-box;
  text-align: left;
  display: inline-block;
  padding: 20px;
  border: 1px #fff dashed;
  margin: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 300px;
}
body .container .questions-container .question .below-threshold {
  display: none;
}
body .container .questions-container .question .below-threshold .num {
  color: #f00;
}
body .container .questions-container .question[data-hidden="data-hidden"] > div {
  display: none;
}
body .container .questions-container .question[data-hidden="data-hidden"] > div.below-threshold {
  display: block;
  cursor: pointer;
}
body .container .questions-container .question[data-hidden="data-hidden"] > div.below-threshold:hover {
  text-decoration: underline;
}
body .container .questions-container .question.no-border {
  border: none;
  margin: 0;
}
body .container .questions-container .question .past {
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px #fff dashed;
}
body .container .questions-container .question .past .old-questions {
  padding: 20px;
  text-align: left;
  border: 1px dashed rgba(255,255,255,0.2);
  margin-top: 20px;
}
body .container .questions-container .question .past .topic {
  display: inline-block;
}
body .container .questions-container .question .past .link {
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: #09fbfc;
}
body .container .questions-container .question .past .link:hover {
  text-decoration: underline;
}
body .container .questions-container .question .past .old-question {
  position: relative;
}
body .container .questions-container .question .past .old-question [data-answer] {
  opacity: 0.2;
}
body .container .questions-container .question .past .old-question [data-answer][data-selected] {
  opacity: 0.5;
  text-decoration: underline;
}
body .container .questions-container .question .past .old-question .question-title,
body .container .questions-container .question .past .old-question .question-body {
  opacity: 0.5;
}
body .container .questions-container .question .past > .options {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
body .container .questions-container .question .past > .options .jump {
  color: #09fbfc;
  cursor: pointer;
}
body .container .questions-container .question .past > .options .jump:hover {
  text-decoration: underline;
}
body .container .questions-container .question .past > .options > i {
  color: #ff0;
  cursor: pointer;
}
body .container .questions-container .question .past > .options > i[data-disabled="true"] {
  color: #808080;
  cursor: default;
}
body .container .questions-container .question .answers .text {
  display: inline;
  list-style-position: inside;
  text-indent: 2em;
}
body .container .questions-container .question .answers .text:before {
  content: '\2022';
  margin: 0 9px;
  font-size: 10px;
  vertical-align: middle;
}
body .container .questions-container .question > .answers .text:hover {
  cursor: pointer;
  text-decoration: underline;
}
body .container .questions-container .question > .answers .text:not([data-next^='leaf']):after {
  content: " *";
  color: #f00;
}
body .container .questions-container .question .answers > div {
  position: relative;
}
body .container .questions-container .question .answers .count {
  opacity: 0.2;
}
body .container .questions-container .question .asterisk {
  font-size: 12px;
  margin-top: 20px;
}
body .container .questions-container .question .asterisk:before {
  content: "* ";
  color: #f00;
}
body .container .questions-container .question[data-vote="up"] [data-arrow="up"] {
  opacity: 1;
}
body .container .questions-container .question[data-vote="down"] [data-arrow="down"] {
  opacity: 1;
}
body .container .questions-container .question .open-pop {
  text-align: center;
}
body .container .questions-container .question .open-pop:hover {
  cursor: pointer;
  text-decoration: underline;
}
body .container .questions-container .question .new-question .text-area-container {
  position: relative;
  width: 100%;
}
body .container .questions-container .question .new-question .text-area-container textarea,
body .container .questions-container .question .new-question .text-area-container .resizer {
  min-height: 25px;
  font-family: sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid;
  overflow: hidden;
  width: 100%;
  line-height: normal;
  margin-bottom: 2px;
  left: 0;
}
body .container .questions-container .question .new-question .text-area-container textarea {
  color: #fff;
  height: 100%;
  position: absolute;
  resize: none;
  white-space: normal;
  background: rgba(255,255,255,0.2);
}
body .container .questions-container .question .new-question .text-area-container textarea.question-body {
  color: #0f0;
  margin-bottom: 10px;
}
body .container .questions-container .question .new-question .text-area-container textarea.question-title {
  color: #f60;
  margin-bottom: 10px;
}
body .container .questions-container .question .new-question .text-area-container .resizer {
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
body .container .questions-container .question .new-question .text-area-container .characters {
  position: absolute;
  text-align: right;
  font-size: 13px;
  color: #808080;
  right: 4px;
  bottom: 1px;
}
body .container .questions-container .question .new-question input[type=submit] {
  margin-top: 5px;
  background: rgba(128,128,128,0.5);
  color: #fff;
  cursor: pointer;
}
body .container .questions-container .question-body {
  color: #0f0;
  margin-bottom: 10px;
}
body .container .questions-container .question-title {
  color: #f60;
  margin-bottom: 10px;
}
